@tailwind base;
@tailwind utilities;
@tailwind components;
@layer base {
  html,
  body,
  #root {
    @apply min-h-screen bg-zinc-50;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(250 250 250) inset !important;
  }
}

@layer components {
  .card {
    @apply border-[1px] border-gray-300 rounded-lg bg-white px-5 p-4 max-w-[30rem] m-auto;
  }
  .sidebarButton {
    @apply text-xs text-blue-500 font-semibold;
  }
  #root {
    @apply mb-[68px] sm:mb-0 relative;
  }
}
